@(drugTypes: List[MedicationProduct])(implicit flash: play.api.mvc.Flash)

@admin("Drug type list", "drugTypes") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Is generic</th>
            <th></th>
            <th></th>
        </tr>
        @for(dt <- drugTypes){
            <tr>
                <td>@dt.name</td>
                <td>@(dt.genericTypeId match { case Some(_) => "No"; case _ => "Yes" })</td>
                <td><a href="@routes.DrugTypesController.edit(dt.id.get)">Edit</a></td>
                <td><a href="@routes.DrugTypesController.remove(dt.id.get)">Delete</a></td>
            </tr>
        }
    </table>

    <a class="btn btn-primary" href="@routes.DrugTypesController.create()">Add new drug type</a>
}