@(genericTypeTerm: Seq[ExpressionTerm])(implicit flash: play.api.mvc.Flash, s: play.api.db.slick.Session)

@expressionTerms("Generic type term list", "genericTypeTerms") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Generic type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(term <- genericTypeTerm){
                <tr>
                    <td>@term.label</td>
                    <td>@term.genericType.getOrFetch.get.name</td>
                    <td><a href="@routes.GenericTypeTermsController.edit(term.id.get.value)">Edit</a></td>
                    <td><a href="@routes.GenericTypeTermsController.remove(term.id.get.value)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="@routes.GenericTypeTermsController.create()">Add new drug type term</a>
}