@(ageTermForm: Form[ExpressionTerm], action: Call)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@b3.form(action = action) {
    <fieldset>
        <input type="hidden" name="id" value="@ageTermForm("id").value">
        @b3.text(ageTermForm("label"), '_label -> "Label")
        @b3.select(ageTermForm("comparisonOperator"),
            Seq(("==", "=="), (">", ">"), (">=", ">="), ("<", "<"), ("<=", "<=")),
            '_label -> "Comparison operator")
        @b3.number(ageTermForm("age"), '_label -> "Age")
    </fieldset>

    <div class="actions col-md-offset-3">
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-save"></span> Save
        </button>

        <a href="@routes.AgeTermsController.list()" class="btn btn-default">
            <span class="fa fa-close"></span> Cancel
        </a>
    </div>
}
