@(questionTermForm: Form[QuestionTerm])

@import helper.twitterBootstrap._

@expressionTerms("Creating a new question term", "questionTerms") {
    <h1>Creating a new question term</h1>

    @helper.form(routes.QuestionTermsController.save()) {
        <fieldset>
            @helper.inputText(questionTermForm("label"))
            @helper.inputText(questionTermForm("question"))
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary"> or
            <a href="@routes.QuestionTermsController.list()" class="btn">Cancel</a>
        </div>
    }
}
