@(questionTerms: List[QuestionTerm])(implicit flash: play.api.mvc.Flash)

@expressionTerms("Question term list", "questionTerms") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped">
        <tr>
            <th>Label</th>
            <th>Question</th>
            <th></th>
            <th></th>
        </tr>
        @for(qt <- questionTerms){
            <tr>
                <td>@qt.label</td>
                <td>@qt.question</td>
                <td><a href="@routes.QuestionTermsController.edit(qt.label)">Edit</a></td>
                <td><a href="@routes.QuestionTermsController.remove(qt.label)">Delete</a></td>
            </tr>
        }
    </table>

    <a class="btn btn-primary" href="@routes.QuestionTermsController.create()">Add new question term</a>
}