@(drugGroups: Seq[DrugGroup])(implicit flash: play.api.mvc.Flash)

@admin("Drug group list", "drugGroups") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(dg <- drugGroups){
                <tr>
                    <td><a href="@routes.DrugGroupGenericTypesController.list(dg.id.get.value)">@dg.name</a></td>
                    <td><a href="@routes.DrugGroupsController.edit(dg.id.get.value)">Edit</a></td>
                    <td><a href="@routes.DrugGroupsController.remove(dg.id.get.value)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="@routes.DrugGroupsController.create()">Add new drug group</a>

    @helper.form(action = routes.DrugGroupsController.importFtkGroup(), 'enctype -> "multipart/form-data") {

        <input type="file" name="ftkGroupPage">

        <p>
            <button class="btn btn-primary" type="submit">Import from FTK group page html</button>
        </p>

    }
}