@(drugGroups: Seq[DrugGroup])(implicit flash: Flash)

@admin("Drug group list", "drugGroups") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(dg <- drugGroups){
                <tr>
                    <td><a href="@routes.DrugGroupGenericTypesController.list(dg.id.get)">@dg.name</a></td>
                    <td><a href="@routes.DrugGroupsController.edit(dg.id.get)">Edit</a></td>
                    <td><a href="@routes.DrugGroupsController.remove(dg.id.get)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="@routes.DrugGroupsController.create()">Add new drug group</a>
}