@(drugGroup: DrugGroup)

@admin("Deleting a drug group", "drugGroups") {
    <h1>Are you sure you want to delete this drug group?</h1>

    <dl>
        <dt>Name</dt><dd>@drugGroup.name</dd>
    </dl>

    @helper.form(routes.DrugGroupsController.delete(drugGroup.id.get)) {
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-trash"></span> Delete
        </button>

        <a href="@routes.DrugGroupsController.list()" class="btn btn-default">
            <span class="fa fa-close"></span> Cancel
        </a>
    }
}
