@public("Introductie", "introduction") {
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-9">
                <h1>MedicatieHulp</h1>
                <p>Medicatie-advies op basis van medische richtlijnen.</p>
            </div>

            <div class="col-md-3">
                <a class="btn btn-primary btn-lg start-btn" role="button" href="@routes.StepsController.generalInformation()">
                    <i class="fa fa-arrow-right"></i> Beginnen!
                </a>
            </div>
        </div>
    </div>

    <p>Bedankt voor uw deelname aan dit onderzoek!</p>

    <p>U gaat zo in een aantal stappen medische informatie invoeren die relevant is voor het ontdekken
    van mogelijke medicatieproblemen. Elke stap heeft zijn eigen instructies: lees deze goed door
    voordat u de stap uitvoert!</p>

    <p>Klik op <a href="@routes.StepsController.generalInformation()">Beginnen</a> om naar de
    eerste stap te gaan.</p>
}
