@public("Introductie", "introduction") {
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-9">
                <h1>MedicatieHulp</h1>
                <p>Medicatie advies op basis van medische richtlijnen.</p>
            </div>

            <div class="col-md-3">
                <a class="btn btn-primary btn-lg start-btn" role="button" href="@routes.StepsController.medicationList()">
                    <i class="fa fa-arrow-right"></i> Beginnen!
                </a>
            </div>
        </div>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl quam, pharetra nec neque at, gravida
        efficitur erat. Nam facilisis rutrum odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed
        non risus eget ex ullamcorper laoreet interdum ac ante. Praesent pellentesque lorem metus, mollis dictum nisi
        consectetur ac. Donec nec rutrum metus. Nullam euismod ex et tempor tristique. Praesent vitae nulla leo.
        Suspendisse tristique dolor justo, ac dignissim ante efficitur sit amet. In hac habitasse platea dictumst.
    </p>
}
