@(suggestionTemplateForm: Form[SuggestionTemplate], action: Call)(implicit messages: Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@b3.form(action = action) {
    <fieldset>
        <input type="hidden" name="id" value="@suggestionTemplateForm("id").value">
        @b3.text(suggestionTemplateForm("name"), '_label -> "Name")
        @b3.textarea(suggestionTemplateForm("text"), '_label -> "Text")
        @b3.textarea(suggestionTemplateForm("explanatoryNote"), '_label -> "Explanatory Note")
    </fieldset>

    <div class="actions col-md-offset-3">
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-save"></span> Save
        </button>

        <a href="@routes.SuggestionTemplatesController.list()" class="btn btn-default">
            <span class="fa fa-close"></span> Cancel
        </a>
    </div>
}
