@(suggestionTemplates: Seq[SuggestionTemplate])(implicit flash: play.api.mvc.Flash, session: play.api.db.slick.Session)

@admin("Suggestion list", "suggestionTemplates") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Text</th>
                <th>Rules</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(suggestionTemplate <- suggestionTemplates){
                <tr>
                    <td>@suggestionTemplate.name</td>
                    <td>@suggestionTemplate.text</td>
                    <td>@suggestionTemplate.rules.getOrFetch.length</td>
                    <td><a href="@routes.SuggestionTemplatesController.edit(suggestionTemplate.id.get.value)">Edit</a></td>
                    <td><a href="@routes.SuggestionTemplatesController.remove(suggestionTemplate.id.get.value)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="@routes.SuggestionTemplatesController.create()">Add new suggestion</a>
}
