@(drugGroupTermForm: Form[DrugGroupTerm])(implicit session: play.api.db.slick.Session)

@import helper.twitterBootstrap._

@expressionTerms("Creating a new drug group term", "drugGroupTerms") {
    <h1>Creating a new drug group term</h1>

    @helper.form(routes.DrugGroupTermsController.save()) {
        <fieldset>
            @helper.inputText(drugGroupTermForm("label"))
            @helper.select(drugGroupTermForm("drugGroupId"),
                DrugGroups.list.toSeq.map(dt => dt.id.get.value.toString -> dt.name), 'class -> "searchable-select")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary"> or
            <a href="@routes.DrugGroupTermsController.list()" class="btn">Cancel</a>
        </div>
    }
}
