@(label: String, drugGroupTermForm: Form[DrugGroupTerm], drugGroups: List[DrugGroup])

@import helper.twitterBootstrap._

@expressionTerms("Editing a drug group term", "drugGroupTerms") {
    <h1>Editing a drug group term</h1>

    @helper.form(routes.DrugGroupTermsController.update(label)) {
        <fieldset>
            <input type="hidden" name="label" value='@label'>
            @helper.select(drugGroupTermForm("drugGroupId"), drugGroups.toSeq.map(dt => dt.id.get.toString -> dt.name))
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary"> or
            <a href="@routes.DrugGroupTermsController.list()" class="btn">Cancel</a>
        </div>
    }
}
