@(drugGroupTerms: Seq[ExpressionTerm])(implicit flash: Flash, ec: ExecutionContext)

@expressionTerms("Drug group term list", "drugGroupTerms") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Drug group</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(term <- drugGroupTerms){
                <tr>
                    <td>@term.label</td>
                    <td>@term.drugGroup.map(_.name)</td>
                    <td><a href="@routes.DrugGroupTermsController.edit(term.id.get)">Edit</a></td>
                    <td><a href="@routes.DrugGroupTermsController.remove(term.id.get)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="@routes.DrugGroupTermsController.create()">Add new drug group term</a>
}
