@(drugGroupTerms: List[(DrugGroupTerm, DrugGroup)])(implicit flash: play.api.mvc.Flash)

@expressionTerms("Drug group term list", "drugGroupTerms") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped">
        <tr>
            <th>Label</th>
            <th>Drug group</th>
            <th></th>
            <th></th>
        </tr>
        @for((term, group) <- drugGroupTerms){
            <tr>
                <td>@term.label</td>
                <td>@group.name</td>
                <td><a href="@routes.DrugGroupTermsController.edit(term.label)">Edit</a></td>
                <td><a href="@routes.DrugGroupTermsController.remove(term.label)">Delete</a></td>
            </tr>
        }
    </table>

    <a class="btn btn-primary" href="@routes.DrugGroupTermsController.create()">Add new drug group term</a>
}