@(medicationProductForm: Form[MedicationProduct], action: Call)(implicit messages: Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@b3.form(action = action) {
    <fieldset>
        <input type="hidden" name="id" value="@medicationProductForm("id").value">
        @b3.text(medicationProductForm("name"), '_label -> "Name")
    </fieldset>

    <div class="actions col-md-offset-3">
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-save"></span> Save
        </button>

        <a href="@routes.MedicationProductsController.list()" class="btn btn-default">
            <span class="fa fa-close"></span> Cancel
        </a>
    </div>
}