@(label: String, drugTypeTermForm: Form[DrugTypeTerm], drugTypes: List[DrugType])

@import helper.twitterBootstrap._

@expressionTerms("Editing a drug type term", "drugTypeTerms") {
    <h1>Editing a drug type term</h1>

    @helper.form(routes.DrugTypeTermsController.update(label)) {
        <fieldset>
            <input type="hidden" name="label" value='@label'>
            @helper.select(drugTypeTermForm("drugTypeId"), drugTypes.toSeq.map(dt => dt.id.get.toString -> dt.name))
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary"> or
            <a href="@routes.DrugTypeTermsController.list()" class="btn">Cancel</a>
        </div>
    }
}
