@(
    rule: Rule,
    suggestionTemplates: Seq[SuggestionTemplate],
    ruleSuggestionTemplateForm: Form[(RuleID, SuggestionTemplateID)]
)(implicit flash: Flash, messages: Messages, ec: ExecutionContext)

@import b3.inline.fieldConstructor

@admin("Suggestion list for "+ rule.name, "rules") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }
    <h1>Suggestion list for @rule.name</h1>

    <a href="@routes.RulesController.list()">Back to list</a>

    <pre>@rule.conditionExpression.value</pre>

    @helper.form(action = routes.RuleSuggestionTemplatesController.save(rule.id.get)) {
        <fieldset>
            <input type="hidden" name="ruleId" value='@rule.id.get.value'>
            @b3.select(ruleSuggestionTemplateForm("suggestionTemplateId"),
                suggestionTemplates.map(gt => gt.id.get.value.toString -> gt.name),
                'class -> "searchable-select")
            @b3.submit('class -> "btn btn-primary"){ <span class="fa fa-plus"></span> Add suggestion }
        </fieldset>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Text</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(suggestionTemplate <- rule.suggestionTemplates){
                <tr>
                    <td>
                        <a href="@routes.SuggestionTemplatesController.edit(suggestionTemplate.id.get)">
                            @suggestionTemplate.name
                        </a>
                    </td>

                    <td>@suggestionTemplate.text</td>

                    <td>
                        <a href="@routes.RuleSuggestionTemplatesController.remove(rule.id.get, suggestionTemplate.id.get)">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}