@(statementTerms: List[StatementTerm], selectedStatementTerms: List[StatementTerm])

@decisionAid("Stellingen", 2) {
    @helper.form(routes.StepsController.saveStatementSelection()) {
        <p>
            Vink de stellingen aan die op u van toepassing zijn. Doe dit door op het selectievakje of op de stelling
            zelf te klikken.
        </p>

        <div class="statement-list">
            @for((statementTerm, index) <- statementTerms.zipWithIndex) {
                <p>
                    <label>
                        <input type="checkbox" name="selectedStatementTerms[@index]" value="@statementTerm.label"
                            @("checked".when(selectedStatementTerms.contains(statementTerm)))>
                        @statementTerm.statementTemplate
                    </label>
                </p>
            }
        </div>

        <div class="step-controls">
            <a class="btn btn-default" href="@routes.StepsController.medicationList()">
                <i class="fa fa-chevron-left"></i> Ga terug naar Stap 1
            </a>

            <button type="submit" class="btn btn-primary">
                Ga door naar Stap 3 <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    }
}
