@(suggestions: Seq[Suggestion])

@decisionAid("Advies", Step.SuggestionList){
    @if(suggestions.isEmpty) {
        Op basis van de door u ingevulde medicijnen en de door u geselecteerde stellingen, heeft de Medicatiehulp
        geen specifiek advies voor u.

        <div class="step-controls">
            <a class="btn btn-default" href="@routes.StepsController.conditionalStatementSelection()">
                <i class="fa fa-chevron-left"></i> Ga terug naar Stap 4
            </a>
        </div>
    } else {
        <p>
            Op basis van de door u ingevulde gegevens vergeleken met de richtlijnen. Op basis daarvan zijn de volgende
            suggesties gegenereert:
        </p>

        <ul class="suggestion-list">
            @for((suggestion, i) <- suggestions.zipWithIndex) {
                <li>
                    <a type="button" class="info-toggle pull-right" data-toggle="modal" data-target="#suggestion-modal-@i">
                        <span class="fa fa-info-circle"></span>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="suggestion-modal-@i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Suggestie Verantwoording</h4>
                                </div>
                                <div class="modal-body">
                                    <dl>
                                        <dt>Regel:</dt>
                                        <dd>
                                            <pre class="expression-display">@suggestion.rule.conditionExpression.value</pre>
                                        </dd>
                                        <dt>Originele richtlijntekst:</dt>
                                        <dd><div class="guideline-display">@suggestion.rule.note</div></dd>
                                    </dl>
                                    @if(suggestion.rule.formalizationReference.isDefined) {
                                        <a href="@suggestion.rule.formalizationReference.get" target="_blank">
                                            Formalisatie bekijken
                                        </a>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        <span class="fa fa-times"></span> Sluiten
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>Dit is een placeholder for een suggestie gegenereerd door het systeem.</p>
                    @if(suggestion.explanatoryNote.nonEmpty) {
                        <div class="well">
                            <em>Toelichting:</em> dit is een placeholder voor de extra toelichting bij
                            bovenstaande suggestie.
                        </div>
                    }

                </li>
            }
        </ul>

        <div class="step-controls">
            <a class="btn btn-default" href="@routes.StepsController.conditionalStatementSelection()">
                <i class="fa fa-chevron-left"></i> Ga terug naar Stap 4
            </a>

            <a class="btn btn-primary" href="@routes.StepsController.print()">
                <i class="fa fa-print"></i> Printen
            </a>
        </div>
    }
}