@(label: String, statementTermForm: Form[ExpressionTerm])

@import helper.twitterBootstrap._

@expressionTerms("Editing a statement term", "statementTerms") {
    <h1>Editing a statement term</h1>

    @helper.form(routes.StatementTermsController.update(label)) {
        <fieldset>
            <input type="hidden" name="label" value='@label'>
            @helper.textarea(statementTermForm("statementTemplate"))
            @helper.textarea(statementTermForm("displayCondition"))
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary"> or
            <a href="@routes.StatementTermsController.list()" class="btn">Cancel</a>
        </div>
    }
}
