@(statementTerms: Seq[ExpressionTerm])(implicit flash: play.api.mvc.Flash)

@expressionTerms("Statement term list", "statementTerms") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Statement</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(statementTerm <- statementTerms){
                <tr>
                    <td>@statementTerm.label</td>
                    <td>@statementTerm.statementTemplate</td>
                    <td><a href="@routes.StatementTermsController.edit(statementTerm.label)">Edit</a></td>
                    <td><a href="@routes.StatementTermsController.remove(statementTerm.label)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="@routes.StatementTermsController.create()">Add new statement term</a>
}