@(statementTerms: List[StatementTerm])(implicit flash: play.api.mvc.Flash)

@expressionTerms("Statement term list", "statementTerms") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <table class="table table-striped">
        <tr>
            <th>Label</th>
            <th>Statement</th>
            <th></th>
            <th></th>
        </tr>
        @for(qt <- statementTerms){
            <tr>
                <td>@qt.label</td>
                <td>@qt.statement</td>
                <td><a href="@routes.StatementTermsController.edit(qt.label)">Edit</a></td>
                <td><a href="@routes.StatementTermsController.remove(qt.label)">Delete</a></td>
            </tr>
        }
    </table>

    <a class="btn btn-primary" href="@routes.StatementTermsController.create()">Add new statement term</a>
}