@(
    medicationProduct: MedicationProduct,
    genericTypes: Seq[GenericType],
    genericTypeMedicationProductForm: Form[(GenericTypeID, MedicationProductID)]
)(implicit flash: Flash, messages: Messages, ec: ExecutionContext)

@import b3.inline.fieldConstructor

@admin("Generic type list for "+ medicationProduct.name, "medicationProducts") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <h1>Generic type list for @medicationProduct.name</h1>

    <a href="@routes.MedicationProductsController.list()">Back to list</a>

    @b3.form(action = routes.MedicationProductGenericTypesController.save(medicationProduct.id.get)) {
        <fieldset>
            <input type="hidden" name="medicationProductId" value='@medicationProduct.id.get.value'>
            @b3.select(genericTypeMedicationProductForm("genericTypeId"),
                genericTypes.map(gt => gt.id.get.value.toString -> gt.name),
                'class -> "searchable-select")
            @b3.submit('class -> "btn btn-primary"){ <span class="fa fa-plus"></span> Add generic type }
        </fieldset>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(genericType <- medicationProduct.genericTypes){
                <tr>
                    <td>@genericType.name</td>

                    <td>
                        <a href="@routes.MedicationProductGenericTypesController.remove(medicationProduct.id.get, genericType.id.get)">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}