@(
    medicationProduct: MedicationProduct,
    genericTypeMedicationProductForm: Form[(GenericTypeID, MedicationProductID)]
)(implicit flash: play.api.mvc.Flash, session: play.api.db.slick.Session)

@admin("Generic type list for "+ medicationProduct.name, "medicationProducts") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <h1>Generic type list for @medicationProduct.name</h1>

    <a href="@routes.MedicationProductsController.list()">Back to list</a>

    @helper.form(action = routes.MedicationProductGenericTypesController.save(medicationProduct.id.get.value)) {
        <fieldset>
            <input type="hidden" name="medicationProductId" value='@medicationProduct.id.get.value'>
            @helper.select(genericTypeMedicationProductForm("genericTypeId"),
                GenericType.list.toSeq.map(gt => gt.id.get.value.toString -> gt.name), 'class -> "searchable-select")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Add generic type" class="btn btn-primary">
        </div>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(genericType <- medicationProduct.genericTypes.getOrFetch){
                <tr>
                    <td>@genericType.name</td>
                    <td><a href="@routes.MedicationProductGenericTypesController.remove(medicationProduct.id.get.value, genericType.id.get.value)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}