@import "lib/bootstrap/less/bootstrap.less";

h1 {
  padding-bottom: 7px;
  border-bottom: 1px solid @hr-border;
  margin-bottom: 25px;
}

form {
  margin-bottom: 20px;
  max-width: 800px;
}

.form-horizontal {
  .actions {
    padding: 7px;
  }
}

.searchable-select {
  min-width: 120px;
}
