@(ruleForm: Form[Rule], action: Call)(implicit session: play.api.db.slick.Session)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@b3.form(action = action) {
    <fieldset class = "rule-fields">
        <input type="hidden" name="id" value="@ruleForm("id").value">
        @b3.text(ruleForm("name"), '_label -> "Name")
        @b3.textarea(ruleForm("conditionExpression"), '_label -> "Condition", 'id -> "conditionExpression")
        @b3.text(ruleForm("source"), '_label -> "Source")
        @b3.text(ruleForm("formalizationReference"), '_label -> "Formalization Reference")
        @b3.textarea(ruleForm("note"), '_label -> "Note")
    </fieldset>

    <div class="actions col-md-offset-3">
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-save"></span> Save
        </button>

        <a href="@routes.RulesController.list()" class="btn btn-default">
            <span class="fa fa-close"></span> Cancel
        </a>
    </div>

    <script>
        window.validCEVariables = [@Html(ExpressionTerm.list.map("\""+ _.label +"\"").mkString(","))];

        $(document).ready(function () {
            CodeMirror.fromTextArea(document.getElementById("conditionExpression"), {
              lineNumbers: true
            });
        });
    </script>
}
