@(ruleForm: Form[RuleWithSuggestions], action: Call)

@import helper.twitterBootstrap._

@helper.form(action = action) {
    <fieldset class = "rule-fields">
        @helper.textarea(ruleForm("conditionExpression"))
        @helper.inputText(ruleForm("source"))
        @helper.textarea(ruleForm("note"))

        <div class="suggestion-fields">
            @helper.repeat(ruleForm("suggestions"), min = 1) { field =>
                <fieldset class = "suggestion-fieldset">
                    @helper.textarea(ruleForm(field.name.toString + ".text"))
                    @helper.textarea(ruleForm(field.name.toString + ".explanatoryNote"))

                    <a class="remove-suggestion-btn">Remove suggestion</a>
                </fieldset>
            }
        </div>

        <a class="btn btn-default add-suggestion-btn">Add suggestion</a>
    </fieldset>

    <div class="actions">
        <input type="submit" value="Save" class="btn btn-primary"> or
        <a href="@routes.RulesController.list()" class="btn">Cancel</a>
    </div>
}
