@(ruleForm: Form[Rule], action: Call)

@import helper.twitterBootstrap._

@helper.form(action = action) {
    <fieldset class = "rule-fields">
        @helper.inputText(ruleForm("name"))
        @helper.textarea(ruleForm("conditionExpression"))
        @helper.inputText(ruleForm("source"))
        @helper.textarea(ruleForm("note"))
    </fieldset>

    <div class="actions">
        <input type="submit" value="Save" class="btn btn-primary"> or
        <a href="@routes.RulesController.list()" class="btn">Cancel</a>
    </div>
}
