@(title: String, currentStep: Step.Value = Step.MedicationList, completedStep: Int = 0)(content: Html)

@public(title, "decisionAid") {
    <ul class="steps">
        <li class="@("current".when(currentStep ==  Step.GeneralInformation))">
            @if(currentStep != Step.GeneralInformation) {
                <a href="@routes.StepsController.generalInformation()">1. Algemeen</a>
            } else {
                <a>1. Algemeen</a>
            }
        </li>

        <li class="@("current".when(currentStep ==  Step.MedicationList))">
            @if(currentStep != Step.GeneralInformation && currentStep != Step.MedicationList) {
                <a href="@routes.StepsController.medicationList()">2. Medicatie</a>
            } else {
                <a>2. Medicatie</a>
            }
        </li>

        <li class="@("current".when(currentStep ==  Step.UnconditionalStatementSelection))">
            @if(currentStep == Step.ConditionalStatementSelection || currentStep == Step.SuggestionList) {
                <a href="@routes.StepsController.independentStatementSelection()">3. Stellingen</a>
            } else {
                <a>3. Stellingen</a>
            }
        </li>

        <li class="@("current".when(currentStep ==  Step.ConditionalStatementSelection))">
            @if( currentStep == Step.SuggestionList) {
                <a href="@routes.StepsController.conditionalStatementSelection()">4. Aanvullend</a>
            } else {
                <a>4. Aanvullend</a>
            }
        </li>

        <li class="@("current".when(currentStep ==  Step.SuggestionList))">
            <a>5. Advies</a>
        </li>
    </ul>

    <div class="decision-aid-content-container">
        @content
    </div>
}
