@(title: String, currentStep: Step.Value = Step.MedicationList, completedStep: Int = 0)(content: Html)

@public(title, "decisionAid") {
    <ul class="steps">
        <li class="@("current".when(currentStep ==  Step.GeneralInformation))">
            <a>1. Algemeen</a>
        </li>

        <li class="@("current".when(currentStep ==  Step.MedicationList))">
            <a>2. Medicatie</a>
        </li>

        <li class="@("current".when(currentStep ==  Step.UnconditionalStatementSelection))">
            <a>3. Stellingen</a>
        </li>

        <li class="@("current".when(currentStep ==  Step.ConditionalStatementSelection))">
            <a>4. Aanvullend</a>
        </li>

        <li class="@("current".when(currentStep ==  Step.SuggestionList))">
            <a>5. Advies</a>
        </li>
    </ul>

    <div class="decision-aid-content-container">
        @content
    </div>
}
