@(title: String, termNav: String = "")(content: Html)

@admin(title, "expressionTerms") {
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="@("active".when(termNav == "drugTypeTerms"))">
                        <a href="@routes.DrugTypeTermsController.list">Drug type terms</a>
                    </li>
                    <li class="@("active".when(termNav == "drugGroupTerms"))">
                        <a href="@routes.DrugGroupTermsController.list">Drug group terms</a>
                    </li>
                    <li class="@("active".when(termNav == "questionTerms"))">
                        <a href="@routes.QuestionTermsController.list">Question terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @content
    </div>
}