@(
    drugGroup: DrugGroup,
    genericTypes: Seq[GenericType],
    drugGroupGenericTypeForm: Form[(DrugGroupID, GenericTypeID)]
)(implicit flash: Flash, messages: Messages, ec: ExecutionContext)

@import b3.inline.fieldConstructor

@admin("Generic type list for "+ drugGroup.name, "drugGroups") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    <h1>Generic type list for @drugGroup.name</h1>

    <a href="@routes.DrugGroupsController.list()">Back to list</a>

    @b3.form(action = routes.DrugGroupGenericTypesController.save(drugGroup.id.get.value)) {
        <fieldset>
            <input type="hidden" name="drugGroupId" value='@drugGroup.id.get.value'>
            @b3.select(drugGroupGenericTypeForm("genericTypeId"),
                genericTypes.map(gt => gt.id.get.value.toString -> gt.name),
                'class -> "searchable-select")
            @b3.submit('class -> "btn btn-primary"){ <span class="fa fa-plus"></span> Add generic type }
        </fieldset>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(genericType <- drugGroup.genericTypes){
                <tr>
                    <td>
                        @genericType.name
                        <ul>
                            @for(medicationProduct <- genericType.medicationProducts){
                                <li>@medicationProduct.name</li>
                            }
                        </ul>
                    </td>
                    <td><a href="@routes.DrugGroupGenericTypesController.remove(drugGroup.id.get.value, genericType.id.get.value)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}